Host dafni-*
  User dafni067

Host dafni-management
  Hostname mgmt.dafni.rl.ac.uk

Host dafni-xfer
  HostName 130.246.5.93

Host dafni-nismod
  Hostname nismoddb.dafni.rl.ac.uk
  RemoteCommand /bin/bash
  RequestTTY force

Host dafni-gitlab
  Hostname git.dafni.rl.ac.uk
  RemoteCommand /bin/bash
  RequestTTY force

Host dafni-nfs
  Hostname nfs.dafni.rl.ac.uk
  RemoteCommand /bin/bash
  RequestTTY force

Host dafni-login
  Hostname login.dafni.rl.ac.uk

Host dafni-foreman
  Hostname 130.246.5.26
  RemoteCommand /bin/bash
  RequestTTY force

Host dafni-management
  Hostname 130.246.5.9
  RemoteCommand /bin/bash
  RequestTTY force

Host ganesha
  User adg51575
  Hostname ganesha.esc.rl.ac.uk
  RemoteCommand /bin/bash
  RequestTTY force
  #ForwardAgent yes
    
Host credo*
  User credo-admin
  ProxyJump ganesha
  StrictHostKeyChecking no
  ForwardAgent yes

Host credo-sandbox
  Hostname 130.246.5.154

Host credo-datahost01
  Hostname 130.246.5.98

Host credo-datahost02
  Hostname 130.246.5.101

Host credo-datahost03
  Hostname 130.246.5.141

Host credo-datahost04
  Hostname 130.246.5.113

Host credo-integration01
  Hostname 130.246.5.110

Host credo-integration02
  Hostname 130.246.5.109

Host credo-entrypoint
  Hostname 130.246.5.111

Host puppet-sandbox
  User credo-admin
  Hostname 130.246.5.104
  StrictHostKeyChecking no
  ProxyJump ganesha
  ForwardAgent yes

Host infraportal-prod
  User adg51575
  HostName 130.246.213.206

Host vmhost022
  User core

Host vmhost023
  User core
  Hostname 130.246.4.195

Host vmhost024
  User core
  Hostname 130.246.4.196

Host vmhost025
  User core
  Hostname 130.246.4.198

Host vmhost026
  User core
  Hostname 130.246.4.199

Host vmhost027
  User core
  Hostname 130.246.4.194

Host racadm-vmhost022
  User root
  Hostname 172.16.4.82

Host racadm-vmhost023
  User root
  Hostname 172.16.4.83

Host racadm-vmhost024
  User root
  Hostname 172.16.4.84

Host racadm-vmhost025
  User root
  Hostname 172.16.4.85

Host racadm-vmhost026
  User root
  Hostname 172.16.4.86

Host racadm-vmhost027
  User root
  Hostname 172.16.4.87

Host buck
  User adg51575
  Hostname buck.esc.rl.ac.uk

Host scarf-slurm
  User scarf990
  Hostname ui1.scarf.rl.ac.uk
